<nav class="navbar navbar-inverse navigation-clean-button">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand navbar-link" routerLinkActive="active" routerLink="/">NgSpotify </a>
      <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav">
        <li role="presentation"><a routerLinkActive="active" routerLink="/about">About </a></li>
        <li role="presentation"><a routerLinkActive="active" routerLink="/contact">Contact </a></li>
        <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">__dropdown <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li role="presentation"><a href="#">Home </a></li>-->
            <!--<li role="presentation"><a href="#">About </a></li>-->
            <!--<li role="presentation"><a href="#">Contact </a></li>-->
          <!--</ul>-->
        <!--</li>-->
      </ul>
      <!--<p class="navbar-text navbar-right actions" style="margin-bottom:7px;float:right;display:block;"><a class="navbar-link login" href="#">__login </a> <a class="btn btn-default action-button" role="button" href="#">_signup </a></p>-->
    </div>
  </div>
</nav>
