/* You can add global styles to this file, and also import other style files */

.artist-thumb{
  width: 80px;
  height: auto;
  float:left;
  margin-right:10px;
}

.artist-header{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #3c3c3c;
}

.artist-albums .well{
  margin-bottom: 20px;
  overflow:auto;
  min-height: 400px;
}

.album{
  text-align: center;
  background: grey;
  padding: 10px 20px;
  border: #666 1px solid;
}

.album-thumb{
  width: 100%;
}
